.description-viewer {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 30%;
    background-color: #F88CDC0d;
    border: 1px solid var(--pink-main);
    border-radius: 10px;
    padding: 25px;
    z-index: 10;

    box-shadow: var(--pink-box-shadow);

    display: flex;
    flex-direction: column;
}

.model-name-text {
    font-size: 22px;
    color: #F88CDC;
    font-family: var(--font-main);
}

.close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    opacity: 0.6;
}

.close-button:hover {
    opacity: 1;
}

.model-description-text {
    margin-top: 15px;
    font-size: 16px;
    color: var(--text);
    font-family: var(--font-main);
    max-height: 80%;
}

.line-divider {
    width: 100%;
    height: 0.5px;
    background-color: var(--text);
    margin: 25px 0;
}

.part-images-container {
    width: 100%;
    height: auto;
    gap: 10px;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.part-image-box {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d933;

    cursor: pointer;
}

.part-image-box.active {
    border: 1px solid var(--pink-main);
}

.part-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selected-part-text-container {
    margin-bottom: 20px;
}

.selected-part-name {
    font-size: 16px;
    color: var(--pink-main);
    font-family: var(--font-main);
}

.selected-part-description {
    margin-top: 10px;
    font-size: 16px;
    color: var(--text);
    font-family: var(--font-main);
}

.scroll-view::-webkit-scrollbar {
    width: 6px;
}

.scroll-view::-webkit-scrollbar-track {
    background: none;
}

.scroll-view::-webkit-scrollbar-thumb {
    background-color: var(--pink-main-a80);
    border-radius: 4px;
}

/* hover */
.scroll-view::-webkit-scrollbar-thumb:hover {
    background-color: var(--pink-main);
}

.single-image-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d933;
    margin-top: 20px;
    object-fit: cover;
}