button {
    border: none;
    outline: none;
    cursor: pointer;
}

.viewer {
    width: 100%;
    height: 100%;
    background-color: #18181A;
    border: 1px solid #78E875;
    border-radius: 10px;
    box-shadow: var(--green-box-shadow);
    position: relative;
}

.range-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 404px;
    height: 44px;
    color: #78E875;
    background: linear-gradient(135deg,
            #78E8750d,
            #F88CDC0d);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.rotation-slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

/* Chrome / Edge / Safari */
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #78E875;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

.range-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: linear-gradient(90deg, #78E875, #f88cdc);
    border-radius: 2px;
}

/* Firefox */
.range-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #78E875;
    border-radius: 50%;
    cursor: pointer;
}

.reset-button {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 44px;
    height: 44px;
    background-color: #75F07C1A;
    border-radius: 5px;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    top: 35px;
    left: 95px;
    width: 90px;
    height: 35px;
    background: none;
    z-index: 10;

    font-size: 22px;
    font-family: var(--font-main);

    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom-button {
    position: absolute;
    left: 30px;
    width: 37px;
    height: 37px;
    background-color: #2f242d;
    color: #f88cdc;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom-in-button {
    bottom: 80px;
}

.zoom-out-button {
    bottom: 30px;
}

.description-button {
    position: absolute;
    top: 30px;
    right: 30px;
    min-width: 120px;
    height: 51px;
    border-radius: 30px;
    border: 1px solid #f88cdc;
    color: #f88cdc5f;
    font-size: 22px;
    background-color: #f88cdc0d;
    z-index: 10;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 51px;
}

.description-button.active {
    color: #f88cdc;
}

.description-button:hover {
    color: #f88cdc;
}

.conversion-container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 44px;
    border-radius: 50px;

    border: 1px solid transparent;
    background:
        linear-gradient(#18181A, #18181A) padding-box,
        linear-gradient(90deg, #78E875, #f88cdc) border-box;
    box-shadow: var(--green-to-pink-gradient);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.conversion-button {
    background-color: transparent;
    font-size: 24px;
    line-height: 44px;
    width: 160px;
    height: 44px;
    opacity: 0.5;
    border-radius: 30px;
}

.single-part-button {
    color: #78E875;
}

.single-part-button.active {
    opacity: 1;
    background: linear-gradient(90deg,
            #78E87533,
            #F88CDC0d);
    ;
}

.single-part-button:hover,
.assemble-part-button:hover {
    opacity: 1;
}

.assemble-part-button {
    color: #f88cdc;
}

.assemble-part-button.active {
    opacity: 1;
    background: linear-gradient(90deg,
            #78E8750d,
            #F88CDC33);
    ;
}

.scroll-view::-webkit-scrollbar {
    width: 6px;
}

.scroll-view::-webkit-scrollbar-track {
    background: none;
}

.scroll-view::-webkit-scrollbar-thumb {
    background-color: var(--pink-main-a80);
    border-radius: 4px;
}

/* hover */
.scroll-view::-webkit-scrollbar-thumb:hover {
    background-color: var(--pink-main);
}