button {
    background: none;
    border: none;
    outline: none;
}

.side-panel-nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;

    height: 10%;
    border-bottom: 1px solid var(--pink-main);
}

.side-panel-nav-item {
    font-size: 22px;
    color: var(--pink-main-a50);
    font-family: var(--font-main);
    cursor: pointer;

    padding: 5px 20px;
    border-radius: 5px;

    margin-bottom: 20px; 
    margin-left: 30px;
}

.side-panel-nav-item:hover {
    color: var(--pink-main);
    background-color: #f88cdc33;
}

.side-panel-nav-item.active {
    color: var(--pink-main);
    background-color: #f88cdc33;
}

.study-side-view {
    width: 100%;
    height: 100%;
}

.pdf-export-button {
    position: absolute;
    right: -90px;
    bottom: 10px;

    width: 61px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}