@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --bg-black: #18181A;

    --green-main: #78e875;
    --green-sub: #cdf6b1;

    --pink-main: #f88cdc;
    --pink-sub: #f2bae4;
    --text: #e5d6de;

    --font-title: 'Orbitron', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-main: 'Pretendard', 'Noto Sans KR', -apple-system;

    --green-box-shadow: 0 0px 12px rgba(120, 232, 117, 0.5);
    --pink-box-shadow: 0 0px 12px rgba(248, 140, 220, 0.5);

    --pink-main-a80: #f88cdccc;
    --pink-main-a50: #f88cdc80;
    --pink-main-a20: #f88cdc33;
    --pink-main-a10: #f88cdc1a;

    --green-main-a10: #78e8750d;

    --green-to-pink-gradient: linear-gradient(90deg, #78E875, #f88cdc);
}