@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --bg-black: #18181A;

    --green-main: #78e875;
    --green-sub: #cdf6b1;

    --pink-main: #f88cdc;
    --pink-sub: #f2bae4;
    --text: #e5d6de;

    --font-title: 'Orbitron', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-main: 'Pretendard', 'Noto Sans KR', -apple-system;
}