.nav {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-items: flex-end; */

  padding: 62px 240px 35px 240px;
  box-sizing: border-box;

  background: var(--bg-black);
  /* border-bottom: 1px solid rgba(255,255,255,0.08); */
}

.nav__brand {
  display: flex;
  align-items: baseline;
  gap: 11px;
  font-family: var(--font-title);
  color: var(--green-main);
}

.nav__logo {
  width: 31px;
  height: 30px;
}

.nav__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.nav__menu {
  display: flex;
  gap: 14px;
}

.nav__item {
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  opacity: 0.5;

  font-family: var(--font-title);
  font-size: 32px;
  font-weight: 400;
  color: var(--green-main);
  padding: 10px 12px;
  border-radius: 10px;
  transition: color 0.15s ease, opacity 0.15s ease;
}

.nav__item.is-active {
  opacity: 1;
  color: var(--pink-main);
}

.nav__item:hover {
  opacity: 0.85;
  cursor: pointer;
}