html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
}

.app-layout {
  /* padding-left: 240px;
  padding-right: 240px;
  box-sizing: border-box; */
  width: 75vw;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}